@import './../../sass/variables';

.gitHubUser {
	display: flex;
	flex-direction: row;
	width: auto;

	img {
		object-fit: cover;
		height: $picture-height;
	}

	div {
		flex: 1;
		display: flex;
		justify-content: space-evenly;
		flex-direction: column;
		height: $picture-height;
		width: auto;
		margin-left: 2rem;

		p {
			font-size: 1.2rem;
			color: $title-color;
			font-weight: 700;
		}
	}

	margin: 2rem 0;
}
